<div class="jumbotron text-center d-flex align-items-center justify-content-center">
  <h1 class="text-warning">＜DMP GEEK＞<br>デュエル・マスターズ プレイス攻略サイト</h1>
</div>

<div class="container-fluid bg-white py-4 mt-5">
  <h1 class="text-center">投稿デッキ一覧</h1>
  <%= render partial: "article", locals: { articles: @articles } %>
</div>