// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header-time {
  color: #999;
}

.jumbotron {
  background-image: image-url("top3.png");
  background-size: cover;
  background-position: center center;
  height: 380px;
}