<footer class="bg-white mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-12">
        <div class="py-4">
          <h4 class="d-inline-block py-3 border-bottom border-info">DMP GEEK</h4>
        </div>
        <div class="mx-5">
          <img class="img-fluid rounded-circle" src="img/img12.jpg" alt="">
        </div>
        <p>
          DMP GEEKはスマホアプリ、デュエル・マスターズ プレイスの攻略情報や最新デッキの情報をシェアすることができます
        </p>
      </div>
      <div class="col-md-4 col-12">
        <div class="py-4">
          <h4 class="d-inline-block py-3 border-bottom border-info">DMP GEEKでできること</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">最新デッキ情報の共有</li>
          <li class="list-group-item">ガチャシミュレーター</li>
          <li class="list-group-item">各カードの評価</li>
        </ul>
      </div>
      <div class="col-md-4 col-12">
        <div class="py-4">
          <h4 class="d-inline-block py-3 border-bottom border-info">Company</h4>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><a href="">サービス</a></li>
          <li class="list-group-item"><a href="">お問い合わせ</a></li>
          <li class="list-group-item"><a href="">プライバシーポリシー</a></li>
          <li class="list-group-item"><a href="">利用規約</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-dark text-white text-center p-3">
    Copyright - DMP GEEK, 2020 All Rights Reserved.
  </div>
</footer>